# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
predicting-patient-charges/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env

# Model files
*.joblib
ml_models/

# IDE
.vscode/
.idea/ 